<div class="title">
    <h1>Costear por grupo</h1>
</div>

<form (ngSubmit)="cotizar()">

    <!-- Div para los checks -->
    <div class="checks">
        <button class="nuevaCiudad" type="button" (click)="descargarCosteo()">
            <span>Formato Costeo</span>
        </button>

        <button class="nuevaCiudad" type="button" (click)="descargarComprobacion()">
            <span>Formato Comprobación</span>
        </button>
    </div>

    <label for="document" class="drop-container">
        <span class="drop-title">Arrastra el Archivo</span>
        ó
        <input type="file" id="document" class="custom-file-input" accept=".xlsx, .xls"
            (change)="handleFileInput($event)" required>
    </label>

    <label class="seleccion-tipo">
        <div class="tipo" (click)=cambiarCos() [ngClass]="{ 'selected' : tipo == 'costeo' }">
            <span>costear</span>
        </div>
        <div class="tipo" (click)=cambiarCom() [ngClass]="{ 'selected' : tipo == 'comprobar' }">
            <span>Comprobar</span>
        </div>
    </label>

    <!-- Botón de costear -->
    <div class="costeo">
        <button type="submit" class="costear-btn">
            <span *ngIf="(tipo == 'costeo') && !loading">Cotizar</span>
            <span *ngIf="(tipo == 'comprobar') && !loading">Comprobar</span>
            <app-loading *ngIf="loading" class="loader"></app-loading>
        </button>
    </div>
</form>

<div class="costeados" *ngIf="costeadoB">
    
    <div class="fila resultados">
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Distancia</th>
                    <th>Obser...</th>
                    <th>Vh</th>
                    <th>Utilidad</th>
                    <th>Compen...</th>
                    <th>Flete</th>
                    <th>EBITDA</th>
                    <th>Costos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let costeo of costeados">
                    <td>{{ costeo.Cliente }}</td>
                    <td>{{ costeo.Origen.split(',')[0] }}</td>
                    <td>{{ costeo.Destino.split(',')[0] }}</td>
                    <td>{{ costeo.Distancia }}</td>
                    <td>{{ costeo.Observacion }}</td>
                    <td>{{ costeo.Tipo_Vh }}</td>
                    <td>{{ costeo.Utilidad * 100 }} %</td>
                    <td>{{ costeo.Compensacion * 100 }} %</td>
                    <td>{{ costeo.Flete.toLocaleString('es-ES', { style: 'currency', currency: 'COP',
                        minimumFractionDigits: 0 }) }}</td>
                    <td>{{ costeo.EBITDA.toLocaleString('es-ES', { style: 'currency', currency: 'COP',
                        minimumFractionDigits: 0 }) }}</td>
                    <td>{{ costeo.Costos_Totales.toLocaleString('es-ES', { style: 'currency', currency: 'COP',
                        minimumFractionDigits: 0 }) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<section class="seccion" *ngIf="comprobacionesPendientes.length !== 0">
    <div class="fila down-btn">
        <button class="nuevaCiudad" type="button" (click)="descargarRealizados()">
            <span>Descargar Excel</span>
        </button>
    </div>
    <h3>Comprobaciones Pendientes</h3>
    <h5 *ngIf="comprobacionesPendientes.length === 0" class="no-pendientes">No hay costeos registrados aún...</h5>
    <div class="resultados">
        <table>
            <thead>
                <tr class="head">
                    <th>Cliente</th>
                    <th>Observación</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Vh</th>
                    <th>Flete</th>
                    <th>Compensación</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let costeo of comprobacionesPendientes; index as i">
                    <td>{{ costeo.Cliente }}</td>
                    <td>{{ costeo.Observacion }}</td>
                    <td>{{ costeo.Origen }}</td>
                    <td>{{ costeo.Destino }}</td>
                    <td>{{ costeo.TipoVh }}</td>
                    <td>{{ costeo.Flete }}</td>
                    <td>{{ costeo.Compensacion * 100 }} %</td>
                    <td class="icons">
                        <i class="fa-solid fa-pen-to-square" (click)="editarComprobacion(i)" *ngIf="!costeo.comprobado"></i>
                        <i class="fa-solid fa-trash" *ngIf="!costeo.comprobado"></i>
                        <i class="fa-solid fa-check"  *ngIf="costeo.comprobado"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>