<div class="title">
    <h1>Obtener Peajes</h1>
</div>

<form (ngSubmit)="cotizar()">

    <!-- Div para las ciudades -->
    <div class="ciudades section">
        <label>
            <h4>
                Ciudad Origen:
            </h4>
            <input [(ngModel)]="origen" name="origen" (keyup)="sugerirOrigen(origen)">
            <ul class="suggestions" *ngIf="suggestionsOrigen && suggestionsOrigen.length">
                <li *ngFor="let suggestion of suggestionsOrigen" (click)="selectSuggestionOrigen(suggestion)">
                    {{ suggestion }}
                </li>
            </ul>
        </label>

        <label>
            <h4>
                Ciudad Intermedia:
            </h4>
            <input [(ngModel)]="ciudadInter" name="ciudadInter" (keyup)="sugerirInter(ciudadInter)">
            <ul class="suggestions" *ngIf="suggestionsInter && suggestionsInter.length">
                <li *ngFor="let suggestion of suggestionsInter" (click)="selectSuggestionInter(suggestion)">
                    {{ suggestion }}
                </li>
            </ul>
        </label>

        <label>
            <h4>
                Ciudad Destino:
            </h4>
            <input [(ngModel)]="destino" name="destino" (keyup)="sugerirDestino(destino)">
            <ul class="suggestions" *ngIf="suggestionsDestino && suggestionsDestino.length">
                <li *ngFor="let suggestion of suggestionsDestino" (click)="selectSuggestionDestino(suggestion)">
                    {{ suggestion }}
                </li>
            </ul>
        </label>
    </div>


    <!-- Div para los Tipos de Vehículos -->
    <div class="tipo_vh section">
        <label>
            <h4>
                Tipo de vehiculo:
            </h4>
            <div class="buttons">
                <button *ngFor="let vh of tipo_vhs" type="button" (click)=cambiarTipoVh(vh) class="tvhb"
                    [ngClass]="{'selected' : tipo_vh === vh}"> {{ vh }} </button>
            </div>
        </label>

        <label class="frases">
            <p class="frase"> {{ quote.frase }} </p>
            <span class="autor">{{ quote.autor }}</span>
        </label>
    </div>

    <!-- Botón de costear -->
    <div class="costeo">
        <button type="submit" class="costear-btn">
            <span *ngIf="!loading">Peajes</span>
            <app-loading *ngIf="loading" class="loader"></app-loading>
        </button>
    </div>
</form>

<div class="costeado" *ngIf="costeadoB">
    <div class="todos-costos">
        <div class="costos-totales-c">
            <div class="costo-indiv">
                <h3>Todos los Peajes: </h3>
                <h4>{{ costeado.peajesTotales.toLocaleString('es-ES', { style: 'currency', currency:
                    'COP', minimumFractionDigits: 0 }) }}</h4>
            </div>
            <div class="costos-detallados">
                <div class="costo-detallado-indiv" *ngFor="let peaje of costosPeajesDetallados">
                    <h3>{{ peaje.tollName }}</h3>
                    <h4>{{ peaje.cost.toLocaleString('es-ES', { style: 'currency', currency: 'COP',
                        minimumFractionDigits:
                        0 }) }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>