<div class="title">
    <h1>Costear</h1>
</div>

<form (ngSubmit)="cotizar()">
    <!-- Div para los checks -->
    <div class="checks">
        <label class="check-ecuador">
            <h4>
                Ecuador:
            </h4>
            <input type="checkbox" [checked]="ecuador" (change)="toggleEcuador()" />
        </label>
        <label class="check-ecuador">
            <h4>
                Tercero:
            </h4>
            <input type="checkbox" [checked]="tercero" (change)="toggleTercero()" />
        </label>
        <label class="check-ecuador">
            <h4>
                Compensación:
            </h4>
            <input type="checkbox" [checked]="distance" (change)="toggleDistancia()" />
        </label>
        <button id="nuevaCiudad" type="button" (click)="anadirCiudad()">
            <span *ngIf="!city">Añadir ciudad</span>
            <span *ngIf="city">Eliminar ciudad</span>
        </button>
    </div>

    <!-- Div para las Vacío y Vuelta a Cargar -->
    <div class="ciudades section vacio-vuelta" [ngClass]="{'noactivo' : !distance}">
        <label>
            <h4>
                Vacío desde:
            </h4>
            <input [(ngModel)]="vacioDesde" name="vacioDesde" (keyup)="sugerirVacio(vacioDesde)">
            <ul class="suggestions" *ngIf="suggestionsVacio && suggestionsVacio.length">
                <li *ngFor="let suggestion of suggestionsVacio" (click)="selectSuggestionVacio(suggestion)">
                    {{ suggestion }}
                </li>
            </ul>
        </label>

        <label>
            <h4>
                Carga Nuevamente:
            </h4>
            <input [(ngModel)]="VueltaCargar" name="VueltaCargar" (keyup)="sugerirVuelta(VueltaCargar)">
            <ul class="suggestions" *ngIf="suggestionsVuelta && suggestionsVuelta.length">
                <li *ngFor="let suggestion of suggestionsVuelta" (click)="selectSuggestionVuelta(suggestion)">
                    {{ suggestion }}
                </li>
            </ul>
        </label>

        <label>
            <h4>
                Distancia Propia:
            </h4>
            <input [(ngModel)]="distancia" name="distancia" type="number" [disabled]="!distance"
                [ngClass]="{'disabled-input': !distance}">
        </label>
    </div>

    <!-- Div para las ciudades -->
    <div class="ciudades section">
        <label [ngClass]="{'conInter' : city}">
            <h4>
                Cliente:
            </h4>
            <input [(ngModel)]="cliente" name="cliente">
        </label>

        <label [ngClass]="{'conInter' : city}">
            <h4>
                Ciudad Origen:
            </h4>
            <input [(ngModel)]="origen" name="origen" (keyup)="sugerirOrigen(origen)">
            <ul class="suggestions" *ngIf="suggestionsOrigen && suggestionsOrigen.length">
                <li *ngFor="let suggestion of suggestionsOrigen" (click)="selectSuggestionOrigen(suggestion)">
                    {{ suggestion }}
                </li>
            </ul>
        </label>

        <label class="conInter" *ngIf="city">
            <h4>
                Ciudad Intermedia:
            </h4>
            <input [(ngModel)]="ciudadInter" name="ciudadInter" (keyup)="sugerirInter(ciudadInter)">
            <ul class="suggestions" *ngIf="suggestionsInter && suggestionsInter.length">
                <li *ngFor="let suggestion of suggestionsInter" (click)="selectSuggestionInter(suggestion)">
                    {{ suggestion }}
                </li>
            </ul>
        </label>

        <label [ngClass]="{'conInter' : city}">
            <h4>
                Ciudad Destino:
            </h4>
            <input [(ngModel)]="destino" name="destino" (keyup)="sugerirDestino(destino)">
            <ul class="suggestions" *ngIf="suggestionsDestino && suggestionsDestino.length">
                <li *ngFor="let suggestion of suggestionsDestino" (click)="selectSuggestionDestino(suggestion)">
                    {{ suggestion }}
                </li>
            </ul>
        </label>
    </div>


    <!-- Div para los Tipos de Vehículos -->
    <div class="tipo_vh section">
        <label>
            <h4>
                Observacion:
            </h4>
            <input [(ngModel)]="observacion" name="observacion">
        </label>

        <label>
            <h4>
                Tipo de vehiculo:
            </h4>
            <div class="buttons">
                <button *ngFor="let vh of tipo_vhs" type="button" (click)=cambiarTipoVh(vh) class="tvhb"
                    [ngClass]="{'selected' : tipo_vh === vh}"> {{ vh }} </button>
            </div>
        </label>

        <div class="cargue-descargue">
            <label>
                <h4>
                    Horas de Cargue:
                </h4>
                <input [(ngModel)]="cargue" name="cargue" type="number">
            </label>

            <label>
                <h4>
                    Horas de Descargue:
                </h4>
                <input [(ngModel)]="descargue" name="descargue" type="number">
            </label>
        </div>
    </div>

    <!-- Div para Otra información -->
    <div class="info section">
        <label>
            <h4>
                Ciudad Ecuador:
            </h4>
            <input [(ngModel)]="ciudadEcuador" name="ciudadEcuador" [disabled]="!ecuador"
                [ngClass]="{'disabled-input': !ecuador}">
        </label>
        <label>
            <h4>
                Precio Loraver:
            </h4>
            <input [(ngModel)]="loraver" name="loraver" type="number" [disabled]="!ecuador"
                [ngClass]="{'disabled-input': !ecuador}">
        </label>
        <label class="frases">
            <p class="frase"> {{ quote.frase }} </p>
            <span class="autor">{{ quote.autor }}</span>
        </label>
    </div>


    <!-- Div para los rangos -->
    <div class="utili-comp section">
        <label>
            <h4>
                Utilidad:
            </h4>
            <div class="porcentaje">
                {{ utili }} <span class="cm">%</span>
            </div>
            <input type="range" [value]="utili" (input)="cambiarUtilidad($event)" min="0" max="200" class="form-range"
                id="customRange1" />
        </label>

        <label>
            <h4>
                Compensación:
            </h4>
            <div class="porcentaje">
                {{ comp }} <span class="cm">%</span>
            </div>
            <input type="range" [value]="comp" (input)="cambiarCompensacion($event)" min="0" max="100"
                class="form-range custom-range" id="customRange2" [disabled]="tercero" [disabled]="distance"
                [ngClass]="{'disabled-input': tercero}" />
        </label>

        <label>
            <h4>
                Utilidad Loraver:
            </h4>
            <div class="porcentaje">
                {{ loraverUtili }} <span class="cm">%</span>
            </div>
            <input type="range" [value]="loraverUtili" (input)="cambiarUtiliLoraver($event)" min="0" max="100"
                class="form-range custom-range" id="customRange2" [disabled]="!ecuador"
                [ngClass]="{'disabled-input': !ecuador}" />
        </label>
    </div>

    <!-- Botón de costear -->
    <div class="costeo">
        <button type="submit" class="costear-btn">
            <span *ngIf="!loading">Cotizar</span>
            <app-loading *ngIf="loading" class="loader"></app-loading>
        </button>
    </div>
</form>

<div class="costeado" *ngIf="costeadoB">
    <div class="info-importante">
        <div class="card">
            <h4>Origen:</h4>
            <div class="valor">
                <h5>{{ costeado.Distancia?.Origen }}</h5>
            </div>
        </div>

        <div class="card">
            <h4>Destino:</h4>
            <div class="valor">
                <h5>{{ costeado.Distancia?.Destino }}</h5>
            </div>
        </div>

        <div class="card">
            <h4>Distancia:</h4>
            <div class="valor">
                <h5>{{ costeado.Distancia?.Distancia }} Km</h5>
            </div>
        </div>
    </div>

    <div class="info-importante">
        <div class="card">
            <h4>Cliente:</h4>
            <div class="valor">
                <h5>{{ costeado.Costeo?.Cliente }}</h5>
            </div>
        </div>

        <div class="card ingre">
            <h4>Flete Total:</h4>
            <div class="valor">
                <h5>{{ costeado.Costeo?.Ingresos.Flete_total.toLocaleString('es-ES', { style: 'currency', currency:
                    'COP',
                    minimumFractionDigits: 0 }) }}</h5>
            </div>
        </div>

        <div class="card costo">
            <h4>Costos Totales:</h4>
            <div class="valor">
                <h5>{{ costeado.Costeo?.Costos.Costos_Totales.toLocaleString('es-ES', { style: 'currency', currency:
                    'COP',
                    minimumFractionDigits: 0 }) }}</h5>
            </div>
        </div>
    </div>

    <div class="info-importante">
        <div class="card ingre">
            <h4>EBITDA:</h4>
            <div class="valor">
                <h5>{{ costeado.Costeo?.Ingresos.EBITDA.toLocaleString('es-ES', { style: 'currency', currency: 'COP',
                    minimumFractionDigits: 0 }) }}</h5>
            </div>
        </div>

        <div class="card ingre">
            <h4>Utilidad:</h4>
            <div class="valor">
                <h5>{{ costeado.Costeo?.Ingresos.Utilidad.toLocaleString('es-ES', { style: 'currency', currency: 'COP',
                    minimumFractionDigits: 0 }) }}</h5>
            </div>
        </div>

        <div class="card ingre">
            <h4>Porcentaje de Utilidad:</h4>
            <div class="valor">
                <h5>{{ costeado.Costeo?.Ingresos.porcentaje_utilidad * 100 }} %</h5>
            </div>
        </div>
    </div>

    <div class="mapa">
        <app-mapa [Distancia]="costeado.Distancia" [peajes]="costosPeajesDetallados"></app-mapa>
    </div>


    <button (click)="expandir = !expandir" class="costear-btn expand">
        <i class="fa-solid fa-arrow-down" *ngIf="!expandir"></i>
        <i class="fa-solid fa-arrow-up" *ngIf="expandir"></i>
        {{expandir ? 'Quitar Todos Los Costos' : 'Mostrar Todos Los Costos'}}
    </button>

    <div class="todos-costos" *ngIf="expandir">
        <div class="costo-indiv">
            <h3>Todos los Costos: </h3>
            <h4>{{ costeado.Costeo?.Costos.Costos_Totales.toLocaleString('es-ES', { style: 'currency', currency:
                'COP', minimumFractionDigits: 0 }) }}</h4>
        </div>

        <div class="costo-indiv">
            <h3>Depreciación: </h3>
            <h4>{{ costeado.Costeo?.Costos.Depreciacion.toLocaleString('es-ES', { style: 'currency', currency:
                'COP', minimumFractionDigits: 0 }) }}</h4>
        </div>

        <div class="costo-indiv">
            <h3>Combustible: </h3>
            <h4>{{ costeado.Costeo?.Costos.Acpm.price.toLocaleString('es-ES', { style: 'currency', currency:
                'COP', minimumFractionDigits: 0 }) }}</h4>
        </div>

        <div class="costos-totales-c">
            <div class="costo-indiv"  (click)="todosFijos = !todosFijos">
                <h3>Todos los Costos Fijos (Sin Depreciación): </h3>
                <h4>{{ costeado.Costeo?.Costos.Costos_Fijos.Total_fijos.toLocaleString('es-ES', { style: 'currency',
                    currency:
                    'COP', minimumFractionDigits: 0 }) }}</h4>
            </div>
            <div class="costos-detallados" *ngIf="todosFijos">
                <div class="costo-detallado-indiv" *ngFor="let costo of costosFijosDetallados">
                    <h3>{{ costo[0] }}</h3>
                    <h4>{{ costo[1].toLocaleString('es-ES', { style: 'currency', currency: 'COP', minimumFractionDigits:
                        0 }) }}</h4>
                </div>
            </div>
        </div>

        <div class="costos-totales-c">
            <div class="costo-indiv" (click)="todosPeajes = !todosPeajes">
                <h3>Todos los Peajes: </h3>
                <h4>{{ costeado.Peajes?.peajesTotales.toLocaleString('es-ES', { style: 'currency', currency:
                    'COP', minimumFractionDigits: 0 }) }}</h4>
            </div>
            <div class="costos-detallados" *ngIf="todosPeajes">
                <div class="costo-detallado-indiv" *ngFor="let peaje of costosPeajesDetallados">
                    <h3>{{ peaje.tollName }}</h3>
                    <h4>{{ peaje.cost.toLocaleString('es-ES', { style: 'currency', currency: 'COP', minimumFractionDigits:
                        0 }) }}</h4>
                </div>
            </div>
        </div>

        <div class="costos-totales-c">
            <div class="costo-indiv" (click)="todosVariables = !todosVariables">
                <h3>Todos los Costos Variables (Sin ACPM): </h3>
                <h4>{{ (costeado.Costeo?.Costos.Costos_Variables.Total_variables - costeado.Costeo?.Costos.Acpm.price).toLocaleString('es-ES', { style: 'currency',
                    currency:
                    'COP', minimumFractionDigits: 0 }) }}</h4>
            </div>
            <div class="costos-detallados" *ngIf="todosVariables">
                <div class="costo-detallado-indiv" *ngFor="let costo of costosVariablesDetallados">
                    <h3>{{ costo[0] }}</h3>
                    <h4>{{ costo[1].toLocaleString('es-ES', { style: 'currency', currency: 'COP', minimumFractionDigits:
                        0 }) }}</h4>
                </div>
            </div>
        </div>

        <div class="costos-totales-c">
            <div class="costo-indiv" (click)="todosGastos = !todosGastos">
                <h3>Todos los Gastos Porcentuales: </h3>
                <h4>{{ costeado.Costeo?.Costos.Gastos_Porcentuales.Total_porc_gsto.toLocaleString('es-ES', { style:
                    'currency', currency:
                    'COP', minimumFractionDigits: 0 }) }}</h4>
            </div>
            <div class="costos-detallados" *ngIf="todosGastos">
                <div class="costo-detallado-indiv" *ngFor="let costo of costosGastosDetallados">
                    <h3>{{ costo[0] }}</h3>
                    <h4>{{ costo[1].toLocaleString('es-ES', { style: 'currency', currency: 'COP', minimumFractionDigits:
                        0 }) }}</h4>
                </div>
            </div>
        </div>

        <div class="costos-totales-c">
            <div class="costo-indiv" (click)="todosIngresos = !todosIngresos">
                <h3>Todos los Gastos por Ingreso: </h3>
                <h4>{{ costeado.Costeo?.Costos.Ingresos_Porcentuales.Total_porc_ings.toLocaleString('es-ES', { style:
                    'currency', currency:
                    'COP', minimumFractionDigits: 0 }) }}</h4>
            </div>
            <div class="costos-detallados" *ngIf="todosIngresos">
                <div class="costo-detallado-indiv" *ngFor="let costo of costosIngresosDetallados">
                    <h3>{{ costo[0] }}</h3>
                    <h4>{{ costo[1].toLocaleString('es-ES', { style: 'currency', currency: 'COP', minimumFractionDigits:
                        0 }) }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>