.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.sidebar {
    max-width: 30%;
    background-color: aquamarine;
}

.content {
    width: 85%;
    margin-top: 7px;
    margin-right: 3%;
}