.title {
    color: rgb(32, 31, 31);
}

.title h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.title p {
    font-size: 1.2rem;
}

form {
    width: 100%;
}

.section {
    width: 100%;
    margin: 20px 0;
}

.section label {
    width: 25%;
}

label {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(61, 59, 59);
}

h4 {
    margin: 10px 0;
}


/* VACIOS Y VUELTA A CARGAR */
.vacio-vuelta {
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
}

.vacio-vuelta .vacio {
    width: 35%;
}



/* CIUDADES */
.ciudades {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ciudades label {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.ciudades label input {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
}

.suggestions {
    position: absolute;
    list-style: none;
    width: 100%;
    background-color: #fff;
    padding: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 72%;
    left: 0;
    z-index: 10000000;
    box-shadow: 0px 5px 10px rgb(61, 59, 59);
}

.suggestions li {
    padding: 10px;

}

/* BOTON COSTEAR */
.costeo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.costear-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 15px;
    height: 50px;
    border-radius: 8px;
    background-color: #EE2C37;
    color: aliceblue;
    border-width: 0;
    box-shadow: 1px 1px 2px rgb(53, 51, 51);
}

.costear-btn:hover {
    background-color: #072A30;
    cursor: pointer;
}

.loader {
    margin-bottom: -10px;
}


/* COSTEADOS */
.costeado {
    width: 100%;
    margin-bottom: 70px;
}

.info-importante {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.info-importante .card {
    width: 35%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(61, 59, 59);
}

.valor {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.valor h5 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}
